/* Pc: width >= 1024px*/
@media only screen and (min-width: 64em) {
    
}

/* Tablet: width >=740px & width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em)  {
    #content .content-section {
        padding-left: 16px;
        padding-right: 16px;
    }
}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
    #header .search-btn {
        display: none;
    }

    #content .content-section {
        overflow: hidden;
    }

    #nav > li {
        display: block;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #slider .text-content {
        display: none;
    }

    #content .content-section {
        padding-left: 16px;
        padding-right: 16px;
    }

    .member-list .text-center {
        width: 100%;
    }

    .places-list .place {
        width: 100%;
        padding-top: 16px;
    }

    .contact-content .contact-info{
        width: 414px;
        margin-bottom: 16px;
    }

    .contact-content .contact-form {
        width: 100%;
    }

    .contact-content .contact-form .info-personal {
        width: 100%;
    }
}