/* Pc: width >= 1024px*/
@media only screen and (min-width: 64em) {
    
}

/* Tablet: width >=740px & width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em)  {
    #content .content-section {
        padding-left: 16px;
        padding-right: 16px;
    }
}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
    #header .search-btn {
        display: none;
    }

    #nav > li {
        display: block;
    }

    #header .mobile-menu-btn {
        display: block;
    }
}